
.contact__container{
    padding: 5% 9%;
    background-color: #f7f7f7;
    padding-bottom: 20%;
    
}




.google__map{
    margin-top: 2rem;
    display: block;

    height: 300px;






}

.contact__p{
    margin-top: 1rem;
    
    color: #777;
}